{% extends 'index.html' %}
{% block body %}
<div class="container">
    <form method="POST">
        <div class="form-floating">
            <div class="form-group">
                <label>Topic:</label>
                <input class="form-control" type="text" name="topics" required>
            </div>
            <div class="form-group">
                <label>Starting date:</label>
                <input class="form-control" type="date" name="startingdate" required>
            </div>
            <div class="form-group">
                <label>Finish date:</label>
                <input class="form-control" type="date" name="finishdate" required>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea name="description" class="form-control" required></textarea>
            </div>
            <br>
            <button class="btn btn-primary">Submit</button>
            {% if session['studentnumber'] == 1%}
            <a class="btn btn-secondary" href="{{url_for('admin.approvedisapprove', studentnumber=studentnumber)}}">Cancel</a>
            {%else%}
            <a class="btn btn-secondary" href="{{url_for('users.dashboard', studentnumber=studentnumber)}}">Cancel</a>
            {%endif%}
        </div>
    </form>
</div>
{% endblock %}