{% extends 'index.html' %}
{% block body %}
<div hx-target="this" hx-swap="outerHTML" class="container">
    <h3>Dashboard <small> {{session['firstname']}} </small></h3>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="col-sm-1">Topic</th>
                <th class="col-sm-1">Description</th>
                <th class="col-sm-1">Starting date</th>
                <th class="col-sm-1">Finish date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-sm-1">{{outputs.topics}}</td>
                <td class="col-sm-1">{{outputs.description}}</td>
                <td class="col-sm-1">{{outputs.startingdate}}</td>
                <td class="col-sm-1">{{outputs.finishdate}}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <a href="/edit/{{outputs.id}}/{{outputs.topics}}" class="btn btn-primary">Edit</a>
        <a href="{{url_for('utils.delete', id=outputs.id, topics=outputs.topics)}}" class="btn btn-danger">Delete</a>
    </div>
</div>
{% endblock %}