{% extends 'index.html' %}
{% block body %}
<br>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Student number</th>
                <th>Firstname</th>
                <th>Surname</th>
                <th>Major</th>
                <th>Degree</th>
                <th>Registration date</th>
                <th>Student mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for x in outputs %}
            <tr>
                <td>{{x.studentnumber}}</td>
                <td>{{x.firstname}}</td>
                <td>{{x.surname}}</td>
                <td>{{x.major}}</td>
                <td>{{x.degree}}</td>
                <td>{{x.register_date}}</td>
                <td>{{x.studentmail}}</td>
                <td>
                    <p>{% if session['studentnumber'] != 1 %}
                        <a href="studentdashboard/{{x.studentnumber}}">View</a>
                        {% else %}
                        <a href="approvedisapprove/{{x.studentnumber}}">View</a>
                        {% endif %}
                    </p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}